@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }
body {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1;
  overflow-x: hidden;
}
ul,li { list-style: none;}
a { text-decoration: none; color: #000; }

/********************************* header *********************************/
header {
  position: relative;
  background: #fff;
}

#header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 140px;
  padding: 0 80px;
}

.header-left {
  position: relative;
  display: flex;
  align-items: center;
}

.header-logo a {
  margin-right: 40px;
}

#gnb ul {
  overflow: hidden;
}

#gnb ul li {
  position: relative;
  float: left;
  margin: 6px 14px;
  padding: 8px;
  font-size: 18px;
  letter-spacing: -.4px;
  box-sizing: border-box;
}

#gnb ul li:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 8px;
  background: #10eba4;
  transition: 0.3s ease;
}

#gnb ul li:hover:after {
  left: 0;
  width: 100%;
}

#gnb ul li:nth-child(7), #gnb ul li:nth-child(8) {
  font-family: 'Oswald', sans-serif;
  letter-spacing: -1px;
  font-size: 16px;
  margin-top: 8px;
}

#gnb ul li.site-link a:after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url('../img/gnb_icon.png');
  background-size: cover;
  margin: 0 0 1px 7px;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.header-right .icon {
  display: inline-block;
  padding: 8px;
  width: 100px;
  height: 140px;
  box-sizing: border-box;
  border-left: 1px solid #eee;
  /* line-height: 106px; */
}

.header-right .icon span {
  display: block;
  padding: 0 28px;
  line-height: 140px;
}

.header-right .icon span img {
  box-sizing: border-box;
}
.icon:nth-child(3) span {
  background: linear-gradient(180deg,#10eba4,#0bcea2);
  border: 8px solid linear-gradient(180deg,#10eba4,#0bcea2);
  line-height: 132px;
}

.icon:last-child {
  border-right: 1px solid #eee;
}

.icon:last-child img {
  width: 20px;
  height: 16px;
}

.icon:hover {
  background: #000;
}

.icon:hover img {
  filter: invert(100%);
}

.icon:nth-child(3):hover img {
  filter: invert(79%) sepia(53%) saturate(713%) hue-rotate(93deg) brightness(95%) contrast(95%);
}

/* .share {
  width: 100%;
  height: 100vh;
} */

/* @media screen and (max-width: 1570px) {
  #gnb {
    display: fixed;
    position: absolute;
    background: #fff;
    width: 100%;
    opacity: 0;
    height: 100vh;
    top: 0;
    bottom: 0;
    padding: 48px 20px;
    z-index: 800;
  }
  #gnb .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;

  }
  #gnb .hamb-icon-wrap {
    display: flex;
    justify-content: center;
    border-top: 1px solid #ddd;
    margin-top: 36px;
    padding-top: 36px;
    width: 100%;
  }
  #gnb .hamb-icon-wrap a {
    float: left;
    background: #000;
    width: 50px;
    height: 50px;
    margin-right: 3px;
    cursor: pointer;
  }
  #gnb .hamb-icon-wrap a:last-child {
    margin-right: 0;
  }
  #gnb .hamb-icon-wrap a span {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url('../img/sidebar_icon.png') no-repeat;
    background-size: 230px;
    background-position: -14px -100px;
  }
  #gnb .hamb-icon-wrap a:nth-child(2) span {
    background-position: -14px -185px;
  }
  #gnb .hamb-icon-wrap a:nth-child(3) span {
    background-position: -14px -270px;
  }
  #gnb .hamb-icon-wrap a:nth-child(4) span {
    background-position: -14px -440px;
  }
  #gnb .hamb-icon-wrap a:nth-child(5) span {
    background-position: -14px -525px;
  }
  #header a {
    display: block;
  }
  #gnb ul img {
    display: inline-block;
  }
  #gnb ul li {
    width: 100%;
    padding: 0;
  }
  #gnb ul li:after {
    display: none;
  }
  #gnb ul li a {
    margin-top: 20px;
    font-size: 20px;
  }
  #icon-wrap {
    right: 0;
  }
} */

@media screen and (min-width: 1570px) {
  #header-wrap {
    padding: 0 80px;
  }

  #header img {
    padding: 0 40px 0 0;
  }

  /* .icon:last-child {
    display: none;
  } */
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 0;
  }
  header {
    position: relative;
    height: 60px;
  }

  #header-wrap {
    height: 60px;
  }

  #header img {
    width: 95px;
    height: 38px;
  }

  .icon {
    height: 60px;
    width: 60px;
  }

  .icon img {
    width: 22px;
    height: 23px;
  }

  .icon:nth-child(3) img {
    width: 16px;
    height: 20px;
  }
}
