@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

html,body { overflow-x: hidden; }
body { font-family: 'Noto Sans KR', sans-serif; width:100%; min-width: 365px;}
button { border: none; background: none; }
a { text-decoration: none; }
